[Unit]
Description=Setup SSH trusted user CA

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook /etc/ansible/ssh-ca-auth.yml
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
